.create-popup {
    margin:auto;
  padding: 20px;
  background: rgb(174, 174, 174);
  border-radius: 1px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
/* 
.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    background-color: #fff;
} */

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-weight: bold;

}
.popup-inner .close-btn:hover {
    color: #3300ff;
  }